.tips-detail-inner {
  width: 100%;
  max-width: 400px;
  padding: 20px 24px 80px;
  margin: 0 auto;
}
@media screen and (min-width: 430px) {
  .tips-detail-inner {
    max-width: 1400px;
  }
}

.detail-title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 16px;
}
@media screen and (min-width: 430px) {
  .detail-title {
    font-size: 24px;
    font-weight: 500;
  }
}
@media screen and (min-width: 769px) {
  .detail-title {
    font-size: 32px;
  }
}

.detail-code {
  margin-bottom: 16px;
}

.detail-code img {
  width: 100%;
}

.detail-desc {
  font-size: 16px;
  color: var(--lightGray);
}
@media screen and (min-width: 430px) {
  .detail-desc {
    font-size: 20px;
  }
}
@media screen and (min-width: 769px) {
  .detail-desc {
    font-size: 24px;
  }
}
